@charset "utf-8";

/*body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
      padding-top:70px;
    }*/


	#slides {
		display: none;
		position: relative;
	}
	#slides .slidesjs-navigation {
		margin-top: 3px;
	}
	#slides .slidesjs-previous {
		margin-right: 5px;
		position: absolute;
		top: 45%;
		z-index: 10;
	}
	#slides .slidesjs-next {
		margin-right: 5px;
		position: absolute;
		top: 45%;
		z-index: 10;
		right: 0;
	}
	.slidesjs-pagination {
		margin: 6px 0 0;
		float: right;
		list-style: none;
		display: none;
	}
	.slidesjs-pagination li {
		float: left;
		margin: 0 1px;
	}
	.slidesjs-pagination li a {
		display: block;
		width: 13px;
		height: 0;
		padding-top: 13px;
		background-image: url(images/slider/pagination.png);
		background-position: 0 0;
		float: left;
		overflow: hidden;
	}
	.slidesjs-pagination li a.active,  .slidesjs-pagination li a:hover.active {
		background-position: 0 -13px
	}
	.slidesjs-pagination li a:hover {
		background-position: 0 -26px
	}
	#slides a:link,  #slides a:visited {
		color: #333
	}
	#slides a:hover,  #slides a:active {
		color: #9e2020
	}
	
		/*.navbar {
		  overflow: hidden
		}*/
	
	<!-- End SlidesJS Optional-->
	
	<!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->

	#slides {
		display: none
	}
	.container {
		margin: 0 auto;
		padding: 0 !important;
		width: auto;
	}
	
		/* For tablets & smart phones */
		@media (max-width: 767px) {
	.container {
		width: auto
	}
	}
	
		/* For smartphones */
		@media (max-width: 480px) {
	.container {
		width: auto
	}
	}
	
		/* For smaller displays like laptops */
		@media (min-width: 768px) and (max-width: 979px) {
	.container {
		width: auto
	}
	}
	
		/* For larger displays */
		@media (min-width: 1200px) {
	.container {
		width: 1100px
	}
	}

